<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Server=mysql.gueppardo.net;Database=gueppardo;User Id=gueppardo;Password=gpd1664;"
			 providerName="MySql.Data.MySqlClient" />
	</connectionStrings>
	<appSettings>
		<add key="APIEmail" value="felipeferreira3146@gmail.com"/>
		<add key="APISenha" value="1664"/>
		<add key="IdLoja" value="832"/>
	</appSettings>	
</configuration>
